.help{
    color:#2E436A;
    margin-top:17rem;
    padding-bottom: 20rem;
}
.help-head1{
    text-align:center;
    font-size:5.5rem;
}

.help-head2{
    margin-top: 8.1rem;
    text-align:center;
    font-size:2.5rem;
}
.help-head2 a{
    color:#6D87F5;
    text-decoration: none;
}